@use "variables" as *;

//MIXIN

@mixin text-set ($size, $line, $color, $align, $weight){
    font-size:$size;
    line-height: $line;
    color:$color;
    text-align: $align;
    font-weight: $weight;
}

@mixin flex($horizontal-align){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:($horizontal-align);
}