// PALETA DE COLORES

$logo-color:darkslategray;
$primary-color:rgb(46, 136, 136);
$secondary-color:rgb(40, 160, 76);
$terciary-color: rgb(23, 82, 190);

$bg-footer-color:rgb(218, 218, 218);
$bg-main-color:white;

// COLORES DE TEXTOS

$text-color-primary:white;
$text-color-secondary:rgb(66, 66, 66);
$text-color-terciary:rgb(31, 31, 31);

// TAMAÑOS ESTANDAR

$main-height:85vh;