// PALETA DE COLORES

$logo-color:darkslategray;
$primary-color:rgb(46, 136, 136);
$secondary-color:rgb(40, 160, 76);
$terciary-color: rgb(23, 82, 190);

$bg-footer-color:rgb(197, 197, 197);
$bg-main-color:white;

// COLORES DE TEXTOS

$text-color-Primary:white;
$text-color-secondary:#3f3f3f;
$text-color-terciary:rgb(31, 31, 31);