/*Estilos de HEADER*/
@use "../abstracts/variables" as *;
header{
    .navbar--height{
        height: 12vh;
        min-height: 10vh;
        div{
            .my-name {
            font-family: "Oswald", sans-serif;
            text-transform:uppercase;
            line-height: 1.3em;
            color:$logo-color;
            }
            ul{
                li{
                    .navbar__country-flag{
                    height:20px;
                    width:30px;
                    }
                }
            }
        }
        #navbarSupportedContent{
            z-index: 1050;
        }
    }
}
