/*Estilos de HEADER*/
@use "../abstracts" as *;
header{
    .navbar--height{
        height: 10vh;
        min-height: 80px;
        div{
            .my-name {
            line-height: 1.3em;
            }
            ul{
                li{
                    .navbar__country-flag{
                    height:20px;
                    width:30px;
                    }
                }
            }
        }
        #navbarSupportedContent{
            z-index: 1050;
            ul{
                li{
                    a{
                        img{
                            width:30px;
                        }
                    }
                }
                &:not(.dropdown){
                    a:hover {
                        text-decoration: underline;
                    }
                }
                &.dropdown{
                    .dropdown-menu{
                        background-color: white;
                        border: none;
                        border-radius: 0px;
                        border-width: 0px;
                        .dropdown-item {
                            color: $text-color-secondary;
                            text-align: center;
                            padding: 10px 20px;
                            &:hover {
                            background-color: $bg-footer-color;
                            text-decoration: none;
                            }
                        }
                    }
                }
            }    
        }
    }
}