/*Estilos de MAIN*/
@use "../abstracts" as *;
.main-info{
    height:auto;
    section{
        height:$main-height;
        article{
            height:$main-height;
        }
    }
}

/*Media Query MAIN*/
@media only screen and (max-width: 768px) {
    .main-info{
        section{
            height:auto;
            article{
                height:auto;
            }
        }
    }
}