//VARIABLES
@import "../abstracts/variables";

/*RESET*/
*{
    margin: 0px;
    padding: 0px;
    font-family: "DM Sans", sans-serif;
}

body{
    overflow-x: hidden;
    height:100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex:1;
}