/*Estilos de CONTACT*/
@use "../abstracts" as *;
main{
    #form-section{
        #contact{
            display: block;
            float:right;
            background-color: $bg-main-color;
            h1 {
                @include text-set (4em,5rem,$text-color-terciary,left,initial);
                padding:.7em 0 0 5%;
            }
            p{
                @include text-set (1.3em,2rem,$text-color-terciary,left,initial);
                padding: 0 25% 0 5%;
            }
        }
    }
}
/*Media Query de CONTACT*/
@media only screen and (max-width: 992px) {
    main{
        #form-section{
            #contact{
                padding-bottom:2em;
                h1{
                    font-size:2.5em;
                    text-align: center;
                    padding: 1em;
                    margin:0;
                }
                p{
                    padding-bottom:2em;
                    font-size: 1em;
                    padding: 0 2em 2em 2em;
                }
            }
        }
    }
}