/*Estilos de CONTACT*/
@use "../abstracts" as *;
main{
    #form-section{
        #contact{
            display: block;
            float:right;
            background-color: $bg-main-color;
            h1 {
                @include text-set (4em,1.5em,$text-color-terciary,left,initial);
                padding:.7em 0 0 5%;
            }
            p{
                @include text-set (1.3em,1.5em,$text-color-terciary,left,initial);
                padding: 0 25% 0 5%;
                margin: 0;
            }
            #contact-data{
                @include text-set (1.3em,1.4em,$text-color-terciary,left,initial);
                padding-top:70px;
            }
        }
    }
}
/*Media Query de CONTACT*/
@media only screen and (max-width: 992px) {
    main{
        #form-section{
            #contact{
                padding-bottom:2em;
                h1{
                    @include text-set (2.5em,1em,$text-color-terciary,center,initial);
                    padding: 1em;
                    margin:0;
                }
                p{
                    @include text-set (1em,1.5em,$text-color-terciary,left,initial);
                    padding: 0 2em;
                }
                #contact-data{
                    @include text-set (1em,1.5em,$text-color-terciary,left,initial);
                    padding:50px 2em;
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    main{
        #form-section{
            height:auto;
            }
        }
}