/* ----------Estilos de PORTFOLIO---------- */
@use "../abstracts" as *;
main{
    #section-portfolio{
        display: block;
        float:left;
        .my-works{
            background-color: $secondary-color;
            padding-top: 20px;
            padding-left:30%;
            p{
                @include text-set (1em,1.5em,$text-color-primary,left,initial);
                width:70%;
            }
            h1{
                @include text-set (4em,1.5em,$text-color-primary,left,initial);
            }
        }
        .work-description{
            padding-top:5%;
            padding-left:30%;
            h2{
                @include text-set (2em,2em,$text-color-terciary,right,initial);
                margin:0;
                padding: 0 0 .8em 0;
            }
            p{
                @include text-set (1em,1.5em,$text-color-terciary,right,initial);
                width:100%;
                display:block;
                float:right;
            }
        }
    }
    #section-gallery{
        height:$main-height;
        max-height:$main-height;
        background-color: white;
        .article-gallery{
            padding:0 25% 0 3em;
            @include grid (1fr 1fr,1fr 1fr,3em,unset);
            height:$main-height;
            max-width: 1000px;
            &__img{
                img{
                    height:100%;
                    width:100%;
                    object-fit: cover;
                }
            }
        }
    }
 }
/*Media Query de PORTFOLIO*/

 @media only screen and (max-width: 1300px) {
    main{
        #section-portfolio{
            .work-description{
                p{
                    @include text-set (.8em,1.5em,$text-color-terciary,center,initial);
                    width:100%;
                    padding: 1em;
                }
            }
        }
    }
 }

 @media only screen and (max-width: 992px) {
    main{
        #section-portfolio{
            .my-works{
                padding:0;
                h1{
                    @include text-set (3em,2em,$text-color-primary,center,initial);
                    padding:1em 0 0 0;
                    margin:0;
                }
                p{
                    @include text-set (1em,1.5em,$text-color-primary,center,initial);
                    width:100%;
                    padding:1em 2em;
                }
                .work-description{
                    padding:2em;
                    height:auto;
                }
            }
        .work-description{
                padding:2em;
                height:auto;
                h2{
                    @include text-set (2em,2em,$text-color-terciary,center,initial);
                    padding: 0 0 1em 0;
                }
                p{
                    @include text-set (1em,1.5em,$text-color-terciary,center,initial);
                    width:100%;
                    padding: 1em;
                }
            }
        }
        #section-gallery{
            height:auto;
            max-height:none;
            .article-gallery{
                @include grid (1fr,1fr,3em,center);
                padding:2em 0 4em 0;
                height:auto;
                &__img{
                    align-items: center;
                    display: flex;
                    justify-content: center;
                    img{
                        width:80%;
                    }
                }
            }
        }
    }
 }